html {
  background-color: #505d78;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #505d78;
}
td {
  font-size: 13px;
  font-weight: 600;
}
h1 {
  font-size: 2rem;
  margin: 0px;
  text-align: center;
  color: #76cf9f;
}
h3 {
  font-size: 1rem;
  margin: 9px 0px 5px 0px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  width: 100%;
  transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
  background-color: #505d78;
}
.borde {
  background-color: white;
  width: 100%;
}
#resultado {
  color: #505d78;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: white;
  padding-top: 2px;
}
.tabla {
  padding-top: 3px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin: 0px 25%;
  background-color: white;
}
.numero {
  color: #333b4c;
  height: 25px;
}
.calcu {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  background-color: #505d78; /* margin-top: 10px; */
}
.total {
  height: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  margin: 5px 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tipe {
  height: 25px;
  background-color: #333b4c;
  padding-top: 5px;
  color: white;
}

input[type="radio"] {
  display: none;
}
label,
label.type {
  margin: 3px;
  display: inline-block;
  background-color: #333b4c;
  color: white;
  padding: 0px;
  padding: 4px 11px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
input[type="radio"]:checked + label {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #76cf9f;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
input[class="normal"]:checked + label {
  background-color: #c6c6aa;
  color: black;
}
input[class="fuego"]:checked + label {
  background-color: #ecae80;
  color: black;
}
input[class="agua"]:checked + label {
  background-color: #b0e2ff;
  color: black;
}
input[class="elec"]:checked + label {
  background-color: #f7e087;
  color: black;
}
input[class="hierba"]:checked + label {
  background-color: #b1d995;
  color: black;
}
input[class="hielo"]:checked + label {
  background-color: #add8e6;
  color: black;
}
input[class="lucha"]:checked + label {
  background-color: #cb7d76;
  color: black;
}
input[class="veneno"]:checked + label {
  background-color: #b987bd;
  color: black;
}
input[class="tierra"]:checked + label {
  background-color: #e9d6a4;
  color: black;
}
input[class="volador"]:checked + label {
  background-color: #c3b9f0;
  color: black;
}
input[class="psiquico"]:checked + label {
  background-color: #ed98b3;
  color: black;
}
input[class="bicho"]:checked + label {
  background-color: #c8d07a;
  color: black;
}
input[class="roca"]:checked + label {
  background-color: #cfc185;
  color: black;
}
input[class="fantasma"]:checked + label {
  background-color: #6060b0;
  color: white;
}
input[class="dragon"]:checked + label {
  background-color: #9c82f2;
  color: black;
}
input[class="siniestro"]:checked + label {
  background-color: #a29288;
  color: black;
}
input[class="acero"]:checked + label {
  background-color: #cccccc;
  color: black;
}
input[class="hada"]:checked + label {
  background-color: #ebbfc9;
  color: black;
}
input[class="ninguno"]:checked + label {
  background-color: #a5a5a5;
  color: #535353;
}

h3 {
  display: inline-block;
  background-color: #76cf9f;
  font-size: 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 5px 11px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.output {
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}
.tbl_heading {
  font-weight: bold;
  background-color: #333b4c;
  color: #ffffff;
}
.inmune {
  background-color: #aaaaaa;
  width: 75px;
}
.resiste2 {
  background-color: #b9b9ed;
  width: 75px;
}
.resiste {
  background-color: #b9edba;
  width: 75px;
}
.neutro {
  background-color: #ffffff;
  width: 75px;
}
.debil {
  background-color: #eddab9;
  width: 75px;
}
.debil2 {
  background-color: #edbab9;
  width: 75px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
.random {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  background-color: transparent;
}
.pokemon1,
.pokemon2 {
  width: 25%;
  background-color: #505d78;
}
#fetch,
#fetch2 {
  width: 80%;
  text-align: center;
  height: 80%;
  margin: 0px 10%;
}
.dvd {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  background-color: #505d78;
}
.tipe2 h5 {
  background-color: #76cf9f;
  padding: 5px;
  font-weight: 700;
}
.pokeimg {
  width: 80%;
  margin: 10px 10%;
}
.nombrepoke {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.total2 {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
